@theme {
  --color-primary: #252d35;
  --color-secondary: #ad6438;
  --color-accent: #d6ae61;
  --color-background: #f8f3ed;
  --color-foreground: #252d35;
  --color-support: #74828c;
  --font-sans: "Poppins", sans-serif;
}
