@theme {
  --color-primary: #16324F;
  --color-secondary: #2F6F65;
  --color-accent: #D6AE61;
  --color-background: #F6F8F7;
  --color-foreground: #202C36;
  --color-support: #74828C;
  --font-sans: 'Poppins', sans-serif;
}
